/* Réinitialise le box model pour tous les éléments, 
   et supprime les marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Background color */

.bgcRed {
    background-color: red;
}

/* ------ Flex ------ */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;

}

.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.flexStart {
    justify-content: flex-start;
}

.flexEnd {
    justify-content: flex-end;
}


.container {
    max-width: 1000px;
    margin: auto;
}

.alignCenter {
    align-items: center;
}

.textCenter {
    text-align: center;
}


/* MARGIN/PADDING */
.top20 {
    margin-top: 20px;
}

.top60 {
    margin-top: 60px;
}

.top100 {
    margin-top: 100px;

}

.ptb64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.padding5 {
    padding: 5px;
}

.padding20 {
    padding: 20px;
}

.padding2 {
    padding: 2px;
}

/*########################*/

/* Header */

.ligne {
    border-bottom: 1px solid black;
}

.menu {
    width: 30%;
}

.hauteur {
    width: 100px;
}

.plusnone {
    list-style: none;
}

.txtDecoNone {
    text-decoration: none;
}

.btm {
    border-radius: 16px;
    border: #FD8D5D solid;
    padding: 5px;
}


/* WIDTH */
.w50 {
    width: 50%;
}

.w48 {
    width: 48%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w25 {
    width: 25%;
}

.w20 {
    width: 20%;
}

.w45 {
    width: 45%;
}

.w100 {
    width: 100%;
}


/* Color */

.Orenge {
    color: #FD8D5D;
}

.Orenge2{
    color: #FFD8C7;
}

.White{
    color: white;
}

.Black {
    color: black;
}

.rond{
    background-color: #FFD8C7;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    padding: 10px;
}

.Gap{
    gap: 6px;
}

.Gap2{
    gap: 10px;
}

.Gap3{
    gap: 200px;
}

.Shadow{
    box-shadow: 0px 0px 10px grey;
    border-radius: 16px;
}

.bgcOrenge{
    background-color: #FD8D5D;
    padding: 5px;
    border-radius: 0px 0px 16px 16px;
    padding: 25px;
}

.bgcOrenge2{
    background-color: #FD8D5D;
    padding: 50px;
}



.image{
    display: block;
    border-radius: 16px 16px 0px 0px;
}

.image2{
    border-radius: 16px;
}

/* responsive tablette  */

@media all and (max-width: 900px){

    h3{
        color: yellow !important;
    }
}

@media all and (max-width: 600px){

    h3{
       color:blue !important;
    }

    .small{
        width: 100%;
    }

    .SBT{
        justify-content: space-between;
    }

    .TP20{
        margin-top: 20px;
    }
}
















/*Desktop*/
.large-1 {
    width: calc(8.3333333333% - 11 * var(--gap) / 12);
  }
  .large-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
  }
  .large-3 {
    width: calc(25% - 3 * var(--gap) / 4);
  }
  .large-4 {
    width: calc(33.3333333333% - 2 * var(--gap) / 3);
  }
  .large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
  }
  .large-6 {
    width: calc(50% - 1 * var(--gap) / 2);
  }
  .large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
  }
  .large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
  }
  .large-9 {
    width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
  }
  .large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
  }
  .large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
  }
  .large-12 {
    width: calc(100% - 0 * var(--gap) / 1);
  }
  
  /*Tablets*/
  @media all and (max-width: 700px) {
    .medium-1 {
      width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }
    .medium-2 {
      width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }
    .medium-3 {
      width: calc(25% - 3 * var(--gap) / 4);
    }
    .medium-4 {
      width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }
    .medium-5 {
      width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }
    .medium-6 {
      width: calc(50% - 1 * var(--gap) / 2);
    }
    .medium-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }
    .medium-8 {
      width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }
    .medium-9 {
      width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }
    .medium-10 {
      width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }
    .medium-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }
    .medium-12 {
      width: calc(100% - 0 * var(--gap) / 1);
    }
  }
  /*Smartphones*/
  @media all and (max-width: 440px) {
    .small-1 {
      width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }
    .small-2 {
      width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }
    .small-3 {
      width: calc(25% - 3 * var(--gap) / 4);
    }
    .small-4 {
      width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }
    .small-5 {
      width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }
    .small-6 {
      width: calc(50% - 1 * var(--gap) / 2);
    }
    .small-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }
    .small-8 {
      width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }
    .small-9 {
      width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }
    .small-10 {
      width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }
    .small-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }
    .small-12 {
      width: calc(100% - 0 * var(--gap) / 1);
    }
  }